body {

font-family: baskerville, times, serif;
font-size: 14.5px;
line-height: 1.65;
text-rendering: optimizeLegibility;
font-smoothing: antialiased;
text-align: center;
}

/*gen styles*/
a {
	color: #000;
}

a:link {
	color: #000;
}

a:hover {
	color: #1EC93B;
}


img {

  width: 300px;
}
