body {

font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
font-size: 14.5px;
line-height: 1.65;
text-rendering: optimizeLegibility;
font-smoothing: antialiased;
text-align: center;
}

/*gen styles*/
a {
	font-size: 16px;
	color: #000;
}
a:link {
	text-decoration: none;
	color: #000;
}
a:visited {
	text-decoration: none;
	color: #FF760E;
}
a:hover {
	text-decoration: none;
	color: #1EC93B;
}


img {

  width: 200px;
}
